 @font-face {
   font-family: 'bebasNeueBold';
   src:  url('./bebas_neue/BebasNeue Bold.otf') format('otf'),
         url('./bebas_neue/TTF/BebasNeue Bold.ttf') format('ttf');
   font-weight: 600;
   font-style: normal;
}