$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

@media (max-width: $breakpoint-tablet) {
  
	.header__logo-img {
		height: 100px;
    	margin-bottom: 1.5em;
	}	

	.header__logo a{
	align-items: center;
	align-content: center;
	justify-content: center;		
	}	

	.header__number {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	p {
		text-align: center;
	}
	}

	.header__right {
	padding: 0px 0px;
	}

	.header__number-num {
	line-height: 0.8;
	margin: 10px 0px 10px 0px;
	}

	.header__icon {
	top: -100%;
	}

	.main__button{
	font-size: 0.8rem;
	p{
		font-size: 1rem;
	}
	}

	header {
		margin-bottom: 2em;
	}

	.md-none {
	display: none;
	}
}

@media (max-width: $breakpoint-mobile) {
  
	.header__text{	
		font-size: 1.5em;
	}	

	.subheader__text h3 {
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 1.5em;
	}

	.subheader {
	height: 200px;
	position: relative;
	}

	.main__button{
	font-size: 0.6rem;
	p{
		font-size: 0.8rem;
	}
	}


	.header__logo-img {
	width: auto;
	height: 100px;
	}

	.sm-none {
	display: none;
	}

	.modal .modal-img {
		width: 100%
	}
}