// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/alert";

//Fonts
@import "./font-face.scss";


.text-center {
	text-align: center;
}


.main, .desc, .subheader {
	margin-bottom: 3em;
}

h1 {
	margin-bottom: 1em;
}

.main__button {
	padding: 1.5em;
}

.main__link {
	width: 100%;
	padding-top: 35px;
	padding-bottom: 35px;
	display: inline-block;
	font-size: 1.2em;
	font-weight: 600;
	text-transform: uppercase;
}

.header__icon {
	display: inline-block;
	width: 50px;
	height: 50px;
}

.header__logo {
   a {
	display: flex;
	align-items: center;
	color: black;
	}
	a:hover{
	text-decoration: none;
	}
}

.header__logo-img {
	display: inline-block;
	width: 150px;
	height: 150px;
}

.header__text {
	display: inline-block;
	font-size: 2em;
	font-weight: 400;
	margin-bottom: 0px;
	strong {
		font-weight: 400;
		font-size: 1.5em;
		font-family: 'bebasNeueBold';
	}
}

.header__number {
	display: flex;
	align-content: flex-start;
	justify-content: center;
	flex-direction: column;
  a{
  	display: flex;
  	align-items: center;
  	justify-content: flex-start;
	svg {
	}
	}
  p {
		margin: 16px 0px 0px 5px;
		font-weight: 600;
	font-size: 0.9em; 
	letter-spacing: 1px;
	}
}

.header__number-num {
	font-weight: 600;
	font-size: 1.2em; 
	color: black;
	letter-spacing: 2px;
}

b {
	font-weight: 600;	
}

.subheader {
	height: 300px;
	position: relative;
}

.subheader__map{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: -1;
	background-image: url(computer-repair.jpg);
	background-size: cover;
	background-position: bottom;
}

.subheader__text {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(38, 166, 154, 0.6);
	color: white;
	h3 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	font-size: 2.5em;
	}
}


.icon {
	width: 100px;
	height: 100px;
}

.icon-2 {
	fill: $blue;
}

.desc__row {
	padding-top: 2em;
}

footer {
	margin-top: 3em;
	background-color: $light;
	.row {
		padding-top: 2em;
		padding-bottom: 2em;
		} 
}

.footer__lastcolumn {
	a{
		display: block;
		font-weight: 400;
		font-size: 1em;
	}
}

.footer__map {
	text-decoration: none;
	list-style: none;
	padding: 0px;
	a{
		color: black;
	}
}

.credits {
	background-color: $secondary;
	a {
		display: inline-block;
		padding: 5px;
		color: white;
		letter-spacing: 1px;
	}
}


/* Other Pages */

.subheader__pages {
	height: 200px;
}

.subheader__text-pages {
	font-size: 0.7em;
}


@import "./style__comments.scss";
@import "./style__form.scss"