// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/buttons";

.text-center {
	text-align: center;
}

header {
	padding-top: 1em;
}

header, .main, .desc {
	padding-bottom: 2em;
}

h1 {
	margin-bottom: 1em;
}

.main__button {
	padding: 1.5em;
}

.main__link {
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	display: inline-block;
}

.icon {
	width: 100px;
	height: 100px
}

.icon-2 {
	fill: blue;
}

.desc__row {
	padding-top: 2em;
}
