.comments__author {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 3px;
  color: $cyan;
}

.comments__time {
  font-style: italic;
  font-size: 11px;
  margin-left: 10px;
  color: #888888;
}

.comment__content {
  padding-bottom: 30px;
}

.comments__icon {
	width: 50px;
	height: 50px;
	margin: 0px;
	padding: 0px;
}