.author-name {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  color: $cyan;
}

.date {
  font-style: italic;
  font-size: 11px;
  margin-left: 10px;
  color: #888888;
}

.comment {
  background-color: white; 
  margin-bottom: 30px;
}

.comments__icon {
	width: 50px;
	height: 50px;
	margin: 0px;
	padding: 0px;
}

.subheader__text-pages h3 {
	left: 50%;
}

#HCB_comment_box h3 {
	color: white;
	text-shadow: 1px 1px black;
	font-weight: 500;
}